* text=auto

*.css text eol=lf
*.html text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.mjs text eol=lf
*.py text eol=lf
*.svg text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.txt text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

*.jpg binary
*.jpeg binary
*.png binary
*.ico binary
*.xlsx binary
